body {
    background-image: url(images/black.jpg);
    background-repeat: no-repeat;
    background-size: 100%;


}

h1 {
    font-family: cursive;
    text-align: center;
    color: white;
    font-style: italic;
    font-size: 50px;
    }

    #btn, #btn-res {
        font-size: 20px;
        background-color: yellow;
        padding: 14px 30px;
        border: none;
        cursor: pointer;
        border-radius: 7px;
        margin-left: 20%;
    
    }
    
    h3 {
        color: greenyellow;
        font-size: 30px;
        font-weight: bold;
        font-family: sans-serif;
    }

    #mainResult {
        border: white 4px solid;
    }

    #btn-res {
        display: none;
        margin-top: 20px;
    }

    img {
        margin-left: 10px;
    }